{% extends 'app.html' %}

{% block body %}

<section class="page-header page-header-bg">
    <div class="overlay-bg" ></div>
    <div class="container">
        <div class="page-header_wrapper">
            <h1 class="page-header_title">
                Become an Agent
            </h1>
            <div class="breadcrumb-wrapper">
                <div class="breadcrumb-inner">
                    <div class="breadcrumbs"><a href="https://apdash-wp.themetags.com/">Home</a>
                        <span class="separator"> <span class="ti-angle-right"></span> </span>
                        <span> Become an Agent</span>
                    </div>
                </div><!-- /.breadcrumb-wrapper -->
            </div>
        </div>
        <!-- /.page-title-wrapper -->
    </div>
    <!-- /.container -->
</section>
<!-- /.page-banner -->

<div data-elementor-type="wp-page" data-elementor-id="229" class="elementor elementor-229" data-elementor-settings="[]">
    <div class="elementor-inner">
        <div class="elementor-section-wrap">
            <section class="elementor-section elementor-top-section elementor-element elementor-element-8659c16 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="8659c16" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6f5c947" data-id="6f5c947" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-adf1f68 elementor-widget elementor-widget-sanwo-heading d-flex justify-center" data-id="adf1f68" data-element_type="widget" data-widget_type="sanwo-heading.default">
                                        <div class="elementor-widget-container">
                                            
                                            <div class="section-heading">
                                                <h2 class="section-title wow fadeInUp" data-wow-delay="0.3s"></h2>
                                                <div class="description wow fadeInUp" data-wow-delay="0.5s"> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-21d9a5c elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="21d9a5c" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-b079047" data-id="b079047" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-05a0006 elementor-widget elementor-widget-image" data-id="05a0006" data-element_type="widget" data-widget_type="image.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image">
                                                                        <img width="564" height="594" src="https://apdash-wp.themetags.com/wp-content/uploads/2020/10/faq.png" class="attachment-large size-large" alt="" loading="lazy" srcset="https://apdash-wp.themetags.com/wp-content/uploads/2020/10/faq.png 564w, https://apdash-wp.themetags.com/wp-content/uploads/2020/10/faq-285x300.png 285w" sizes="(max-width: 564px) 100vw, 564px" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-8043ee2" data-id="8043ee2" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-8fee695 dt-heading-fill-color elementor-widget elementor-widget-tt-accordion" data-id="8fee695" data-element_type="widget" data-widget_type="tt-accordion.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="faq_content collaps_style">
                                                                        <div class="faq_arrordion_content">
                                                                            <div  class="faq faq-two pixFade" id="apdash-accordion-150">
                                                                                <div class="card active">
                                                                                    <div class="card-header" id="apdash-acco-150-0">
                                                                                        <h5 class="mb-0">
                                                                                            <button class="btn btn-link" data-toggle="collapse" data-target="#faq-collapse-apdash-acco-150-0" aria-expanded="true">
                                                                                                Why become an Agent?
                                                                                            </button>
                                                                                        </h5>
                                                                                    </div>
                                                                                    <div id="faq-collapse-apdash-acco-150-0" class="collapse show" data-parent="#apdash-accordion-150">
                                                                                        <div class="card-body">
                                                                                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="card">
                                                                                    <div class="card-header" id="apdash-acco-150-1">
                                                                                        <h5 class="mb-0">
                                                                                            <button class="btn btn-link" data-toggle="collapse" data-target="#faq-collapse-apdash-acco-150-1" aria-expanded="true">
                                                                                                Why become an Agent?
                                                                                            </button>
                                                                                        </h5>
                                                                                    </div>
                                                                                    <div id="faq-collapse-apdash-acco-150-1" class="collapse hide" data-parent="#apdash-accordion-150">
                                                                                        <div class="card-body">
                                                                                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="card">
                                                                                    <div class="card-header" id="apdash-acco-150-1">
                                                                                        <h5 class="mb-0">
                                                                                            <button class="btn btn-link" data-toggle="collapse" data-target="#faq-collapse-apdash-acco-150-2" aria-expanded="false">
                                                                                                Why become an Agent?
                                                                                            </button>
                                                                                        </h5>
                                                                                    </div>
                                                                                    <div id="faq-collapse-apdash-acco-150-2" class="collapse hide" data-parent="#apdash-accordion-150">
                                                                                        <div class="card-body">
                                                                                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="card">
                                                                                    <div class="card-header" id="apdash-acco-150-3">
                                                                                        <h5 class="mb-0">
                                                                                            <button class="btn btn-link" data-toggle="collapse" data-target="#faq-collapse-apdash-acco-150-3" aria-expanded="false">
                                                                                                Why become an Agent?
                                                                                            </button>
                                                                                        </h5>
                                                                                    </div>
                                                                                    <div id="faq-collapse-apdash-acco-150-3" class="collapse hide" data-parent="#apdash-accordion-150">
                                                                                        <div class="card-body">
                                                                                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                        
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-section elementor-top-section elementor-element elementor-element-c7b64fd elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="c7b64fd" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-a9b9695" data-id="a9b9695" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-59e6d4a elementor-widget elementor-widget-tt-faq-list" data-id="59e6d4a" data-element_type="widget" data-widget_type="tt-faq-list.default">
                                        <div class="elementor-widget-container">
                                            <div class="single_faq_content wow fadeInDown">
                                                
                                                <h4><span>Q.</span> How can I pay for this?</h4>
                        
                                                <p>Intrinsicly implement high standards in strategic theme areas via inexpensive solutions. Assertively conceptualize prospective bandwidth whereas xpedite intuitive services rather than process-centric.</p>
                                            </div>
                                            <div class="single_faq_content wow fadeInDown">
                                                <h4><span>Q.</span> Do you offer discounts on multiple items?</h4>
                                                <p>Intrinsicly implement high standards in strategic theme areas via inexpensive solutions. Assertively conceptualize prospective bandwidth whereas xpedite intuitive services rather than process-centric.</p>
                                            </div>
                                            <div class="single_faq_content wow fadeInDown">
                                                <h4><span>Q.</span> Will I pay more for some features?</h4>
                                                <p>Intrinsicly implement high standards in strategic theme areas via inexpensive solutions. Assertively conceptualize prospective bandwidth whereas xpedite intuitive services rather than process-centric.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-a547859" data-id="a547859" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-7c3a91a elementor-widget elementor-widget-tt-faq-list" data-id="7c3a91a" data-element_type="widget" data-widget_type="tt-faq-list.default">
                                        <div class="elementor-widget-container">
                                            <div class="single_faq_content wow fadeInDown">
                                                <h4><span>Q.</span> Is it possible to pay yearly?</h4>
                                                <p>Intrinsicly implement high standards in strategic theme areas via inexpensive solutions. Assertively conceptualize prospective bandwidth whereas xpedite intuitive services rather than process-centric.</p>
                                            </div>
                                            <div class="single_faq_content wow fadeInDown">
                                                <h4><span>Q.</span> Is VAT included in plan prices?</h4>
                                                <p>Intrinsicly implement high standards in strategic theme areas via inexpensive solutions. Assertively conceptualize prospective bandwidth whereas xpedite intuitive services rather than process-centric.</p>
                                            </div>
                                            <div class="single_faq_content wow fadeInDown">
                                                <h4><span>Q.</span> Why are there no limits on the number of messages?</h4>
                                                <p>Intrinsicly implement high standards in strategic theme areas via inexpensive solutions. Assertively conceptualize prospective bandwidth whereas xpedite intuitive services rather than process-centric.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="elementor-section elementor-top-section elementor-element elementor-element-c7b64fd elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="c7b64fd" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row d-flex">
                        <a href="" class="tt-app-btn btn-fill wow fadeInUp" data-wow-delay=".7s">Become an Agent Now</a>
                    </div>
                </div>
            </section><br/><br/>

        </div>
    </div>
</div>

{% endblock %}